<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KidsPainting.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>966BF24D1F15587E00556C85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>966BF2611F15587E00556C85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>966BF26C1F15587E00556C85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
